body {
  font-family: sans-serif;
  background-color: #f8f8f8;
  margin: 0;
}

header {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

footer {
  text-align: center;
  font-size: 12px;
  color: gray;
  margin: 20px;
}
